@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'CaviarDreams';
  src: url('./assets/fonts/CaviarDreams.ttf') format("truetype");
}
@font-face {
  font-family: 'CaviarDreams-Bold';
  src: url('./assets/fonts/CaviarDreams_Bold.ttf') format('truetype');
}



.App {
  text-align: center;
  font-family: 'CaviarDreams-Bold',sans-serif;
}






